html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 30px;
  color: $default;
  @extend %Rubik-400;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %DMSans-700;
  font-size: 36px;
  color: $title;
  text-align: center;
}

a {
  color: inherit;
}

.breadcrumbs {
  display: inline-flex;
  padding-left: 30px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/icon/house.svg);
    width: 20px;
    height: 20px;
    top: 4px;
    left: 6px;
  }

  &__list {
    display: inline-flex;
  }

  &__item {
    @extend %Rubik-300;
    color: $title;
    font-size: 18px;
    padding-right: 40px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icon/arrows.svg);
      width: 20px;
      height: 20px;
      top: 5px;
      right: 10px;
    }
    &:last-child {
      color: $accent;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
}
