$default: #243f4d;
$accent: #436372;
$title: #1a1a1a;
$bg-default: #fef7f0;
$subtitle: #7b7b7b;
$btn: #a3bbc8;
$header: #fcd7b6;

%DMSans-700 {
  font-family: 'DMSans-bold', sans-serif;
  font-weight: 700;
}

%DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-700 {
  font-family: 'Rubik-bold', sans-serif;
  font-weight: 700;
}

%Rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%btn {
  display: block;
  background-color: $btn;
  color: #fff;
  padding: 21px 30px;
  font-size: 15px;
  max-width: 200px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    mask-image: url(../images/icon/arrow-btn.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 27px;
    right: 30px;
  }
}
