@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__snow {
    position: relative;
    display: flex;
    span {
      position: relative;
      min-width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 auto;
      animation: animationSnow 10s linear infinite;
      animation-duration: calc(75s / var(--snow));
      @keyframes animationSnow {
        0% {
          transform: translateY(-10vh);
        }
        100% {
          transform: translateY(100vh);
        }
      }
    }
  }
}

.header__top {
  padding: 50px 75px;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    padding-left: 33px;
  }

  &__item-link {
    font-size: 15px;
    line-height: 12px;
    padding: 0 5px 5px;
    @extend %Rubik-500;
    color: $accent;
    &:hover {
      border-bottom: 2px solid $header;
    }
  }

  &__item-link--active {
    @extend %Rubik-700;
    color: $header;
  }
}

.user-nav {
  display: flex;

  &__link--search {
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @extend %flex-column-center;
    margin-right: 20px;
  }

  &__link--heart {
    background-color: $header;
    width: 90px;
    border-radius: 50px 0px 0px 50px;
    @extend %flex-column-center;
    transition: all 0.5 ease;
    position: relative;
    &::before {
      content: '';
      width: 1px;
      height: 30px;
      background-color: #fff;
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 2;
    }
  }

  &__link--cart {
    background-color: $header;
    width: 90px;
    border-radius: 0px 50px 50px 0px;
    @extend %flex-column-center;
    position: relative;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 7px;
    right: 29px;
    @extend %DMSans-400;
    font-size: 10px;
    line-height: 15px;
    color: #334c59;
    text-align: center;
  }

  &__link--login {
    background-color: $btn;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @extend %flex-column-center;
    margin-left: 20px;
  }

  &__link--search,
  &__link--login {
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.top-slider {
  margin: 0 75px;
  background-color: $header;
  background-image: url(../images/slider/slider-bg.png);
  background-repeat: no-repeat;
  background-position: 90% 40%;
  padding: 100px 0 50px;

  &__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__content {
    display: inline-block;
    max-width: 405px;
    margin-right: 120px;
  }

  &__title {
    padding-top: 130px;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 345px;
    margin-bottom: 45px;
  }

  &__link {
    @extend %btn;
  }

  &__images {
    display: inline-block;
    max-width: 640px;
    object-fit: cover;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    li {
      padding-right: 10px;
      button {
        padding: 0;
        font-size: 11px;
        line-height: 9px;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

.top-info {
  margin: 0 75px;
  background-color: $bg-default;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 600px;
    padding: 50px 0 50px 150px;
    position: relative;
    transition: all 0.5s ease;
    &::before {
      content: '';
      position: absolute;
      top: 55px;
      left: 75px;
      height: 55px;
      width: 55px;
    }
  }

  &__item--support,
  &__item--delivery {
    border-right: 1px solid #e8e4df;
  }

  &__item--support::before {
    background-image: url(../images/icon/support.svg);
    background-repeat: no-repeat;
  }

  &__item--delivery::before {
    background-image: url(../images/icon/delivery.svg);
    background-repeat: no-repeat;
  }

  &__item--payment::before {
    background-image: url(../images/icon/pay.svg);
    background-repeat: no-repeat;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    color: $title;
  }

  &__text {
    @extend %DMSans-400;
    color: $subtitle;
  }
}

.products {
  padding: 75px 0 190px;
  &__filter-btn {
    padding: 40px 0 80px;
    text-align: center;
    @extend %DMSans-500;
  }

  &__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: $subtitle;
    cursor: pointer;
  }

  &__btn + &__btn {
    margin-left: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 40px 30px;
  }

  &__item {
    padding-top: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
  }

  &__item-title {
    @extend %DMSans-700;
    color: $accent;
    font-size: 16px;
    line-height: 40px;
  }

  &__item-price {
    color: #a3bbc8;
    margin-bottom: 20px;
  }

  &__item-link {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: all 0.5s ease;
    &:hover {
      opacity: 1;
    }

    &__box {
      img {
        background-color: $btn;
        border-radius: 40%;
        padding: 10px;
        &:hover {
          background-color: #fff;
        }
      }
    }

    img + img {
      margin-left: 15px;
    }
  }

  .mixitup-control-active {
    color: $title;
  }

  .star {
    padding-top: 40px;
    margin: 0 auto;
  }
}

.sale {
  background-image: url(../images/sale-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 160px;

  &__content {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #a3bbc8;
    @extend %DMSans-700;
  }

  .title {
    margin-bottom: 20px;
  }

  &__timer {
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  &__timer-item {
    width: 100px;
    height: 100px;
    background-color: $header;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    span {
      font-size: 30px;
      @extend %DMSans-700;
    }
  }

  &__link {
    @extend %btn;
    margin: 0 auto;
  }
}

.benefits {
  padding-top: 250px;
  margin: 0 75px;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    background-color: #feefe2;
    width: 870px;
    height: 390px;
    display: flex;
  }

  &__img {
    padding: 0 70px;
    transform: translateY(-100px);
  }

  &__title {
    padding-top: 100px;
    font-size: 26px;
    line-height: 32px;
    @extend %DMSans-700;
    margin-bottom: 30px;
  }

  &__text {
    width: 335px;
    margin-bottom: 35px;
  }

  &__link {
    display: block;
    padding: 24px 20px;
    width: 200px;
    background-color: transparent;
    border: 1px solid $default;
    border-radius: 10px;
    color: $default;
    @extend %Rubik-500;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icon/arrow-btn.svg);
      width: 20px;
      height: 20px;
      top: 30px;
      right: 30px;
    }
    &:hover {
      background-color: #fff;
    }
  }
}

.design {
  padding: 100px 0 125px;
  &__filter-btn {
    padding: 40px 0 80px;
    text-align: center;
    @extend %DMSans-500;
  }

  &__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: $subtitle;
    cursor: pointer;
  }

  &__btn + &__btn {
    margin-left: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 35px 30px;
  }

  &__item {
    background-repeat: no-repeat;
    height: 246px;
    padding: 40px 0 0 40px;
  }

  &__item-title {
    max-width: 175px;
    color: $title;
    font-size: 20px;
    @extend %DMSans-700;
  }

  &__item-subtitle {
    color: #a3bbc8;
    @extend %DMSans-700;
  }

  .mixitup-control-active {
    color: $title;
  }
}

.video {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog {
  padding-top: 120px;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }

  &__text {
    @extend %DMSans-700;
    color: $title;
    padding-right: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icon/arrow-blog.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      top: 8px;
      right: -10px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
  }

  &__item-info {
    padding: 0 30px 30px;
    background-color: #fff;
  }

  &__item-subtitle {
    display: inline-block;
    background-color: $btn;
    padding: 2px 32px;
    color: #fff;
    font-size: 14px;
    @extend %Rubik-700;
    text-transform: uppercase;
    border-radius: 12px;
    transform: translateY(-50%);
  }

  &__item-text {
    display: inline-block;
    max-width: 300px;
    min-height: 100px;
    @extend %DMSans-700;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
  }

  &__date,
  &__author {
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 12px;
    @extend %Rubik-400;
    color: $title;
  }

  &__date::before,
  &__author::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 0;
  }

  &__date::before {
    background-image: url(../images/icon/time.svg);
  }

  &__author::before {
    background-image: url(../images/icon/admin.svg);
  }
}

.parthers {
  padding: 90px 0;
  height: 200px;
  background-color: $bg-default;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 215px;
    background-color: $bg-default;
    top: -215px;
    right: 0;
    z-index: -1;
  }
}

.footer-top {
  padding: 75px 0 55px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;

  &__contact {
    width: 211px;
    margin-right: 100px;
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 20px;
    color: $subtitle;
  }

  &__social-list {
    display: flex;
  }

  &__social-item + &__social-item {
    margin-left: 30px;
  }

  &__social-link {
    transition: all 0.3s ease-in;
    path {
      fill: $btn;
    }
    &:hover {
      path {
        fill: $default;
      }
    }
  }

  &__nav {
    width: 175px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: $title;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link,
  &__adress,
  &__phone,
  &__email {
    &:hover {
      color: $default;
    }
  }

  &__link,
  &__text {
    color: $subtitle;
  }

  &__form {
    max-width: 408px;
    @extend %DMSans-400;
  }

  &__form-input {
    margin-top: 40px;
    background-color: $bg-default;
    max-width: 238px;
    width: 100%;
    padding: 15px 16px;
    border: none;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    background-color: $btn;
    color: #fff;
    padding: 14px 17px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.footer-copy {
  text-align: center;
}

@import 'media';
