.products-item {
  width: 270px;
  min-height: 380px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  position: relative;
  &:hover {
    .products-item__link {
      transform: translateY(-90px);
    }
  }

  &__img {
    max-width: 270px;
    height: 270px;
    object-fit: cover;
    transition: all 1s ease;
    &:hover {
      transform: scale(1.1);
      transition: all 1s ease;
    }
  }

  &__content-box {
    display: none;
  }

  &__title {
    @extend %DMSans-700;
    color: #436372;
    font-size: 16px;
    line-height: 40px;
  }

  &__price {
    color: #a3bbc8;
    &::after {
      content: '.00';
    }
    &::before {
      content: '$';
    }
  }

  &__link {
    display: flex;
    align-items: center;
    position: absolute;
    transition: all 0.3s ease;
    transform: translateY(120px);
    &.products-item__link-box {
      img {
        background-color: $btn;
        border-radius: 40%;
        padding: 10px;
        &:hover {
          background-color: #fff;
        }
      }
    }

    .products-item__link-item + .products-item__link-item {
      margin-left: 15px;
    }
  }

  .star {
    margin: 30px 30px 0;
  }

  .star-shop {
    display: none;
  }
}

@media (max-width: 1100px) {
  .products-item {
    width: 100%;
  }
}
