.product-page {
  padding: 120px 0;
}

.product-info {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__slide {
    width: 550px;
  }

  &__content {
    width: 250px;
  }

  &__title {
    @extend %Rubik-500;
    font-size: 35px;
    color: $title;
    line-height: 1;
  }

  &__star {
    padding: 20px 0;
  }

  &__price {
    display: inline-block;
    color: $title;
    font-size: 30px;
    @extend %Rubik-400;
    margin-bottom: 20px;
  }

  &__descr {
    margin-bottom: 10px;
    line-height: 28px;
  }

  &__form-title {
    color: $title;
    font-size: 18px;
  }

  &__label {
    display: inline-block;
    margin-right: 10px;
  }

  &__input {
    @extend %checkbox-radio;
    &:checked + .product-info__radio {
      border-color: $title;
    }
  }

  &__radio {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid $shop;
    position: relative;
    span {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }
  }

  &__buttons {
    display: block;
    margin: 10px 0;
  }

  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__field {
    width: 250px;
    border: 1px solid $btn;
    border-radius: 0;
    box-shadow: none;
  }

  .jq-number__field input {
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    @extend %Rubik-400;
    color: $title;
  }

  .jq-number__spin {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50px;
    height: 52px;
    border: 1px solid $shop;
    border-radius: 0;
    background: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
  }

  .jq-number__spin:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 20px;
    width: 0;
    height: 0;
    border: none;
  }

  .jq-number__spin.minus {
    top: 0;
    bottom: 0;
    left: 170px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid $btn;
    background-image: url(../images/icon/product-minus.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }

  .jq-number__spin.minus:after {
    top: 25px;
    border-top: 5px solid #999;
    border: none;
  }

  .jq-number__spin.plus {
    top: 0;
    bottom: 0;
    right: 170px;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid $btn;
    border-left: none;
    background-image: url(../images/icon/product-plus.svg);
    background-repeat: no-repeat;
    background-position: center left;
  }

  .jq-number__spin.plus::after {
    top: 25px;
    bottom: auto;
  }

  &__btn {
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    &:hover {
      background-color: $accent;
      color: $default;
    }
  }

  .product-description {
    margin-bottom: 20px;

    &__item {
      display: flex;
      align-items: center;
    }

    &__text {
      margin-left: 5px;
    }
  }

  .product-warranty {
    border: 1px solid $btn;
    display: flex;
    align-items: center;
    &__img {
      margin: 10px;
    }

    &__text {
      line-height: 20px;
    }

    &__link {
      color: $btn;
      text-decoration: underline;
    }
  }
}
