.sale {
  display: flex;
  &__box-link {
    overflow: hidden;
  }
  &__img {
    width: 1052px;
    height: 800px;
    object-fit: cover;
    transition: all 0.9s ease;
    &:hover {
      transform: scale(1.1);
      transition: all 0.9s ease;
    }
  }

  &__content {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ff2400;
    @extend %DMSans-700;
  }

  .title {
    margin-bottom: 20px;
  }

  &__timer {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
  }

  &__timer-item {
    width: 100px;
    height: 100px;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    span {
      font-size: 30px;
      @extend %DMSans-700;
    }
  }

  &__link {
    display: block;
    margin: 0 auto;
    padding: 24px 20px;
    width: 200px;
    background-color: $bg-default;
    border-radius: 10px;
    color: $default;
    @extend %CeraPro-500;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icon/arrow-btn-default.svg);
      width: 20px;
      height: 20px;
      top: 30px;
      right: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .sale {
    display: block;
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
      &:hover {
        transform: none;
      }
    }
  }
}

@media (max-width: 650px) {
  .sale {
    &__img {
      height: 100%;
      margin-bottom: 30px;
      object-fit: contain;
    }
    &__timer {
      padding: 0;
      justify-content: center;
      margin-bottom: 20px;
    }
    &__timer-item {
      margin: 20px 51px;
    }
  }
}

@media (max-width: 420px) {
  .sale {
    &__timer-item {
      margin: 15px 20px;
    }
  }
}
