.filter-brand {
  &__form {
    padding-top: 30px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: $shop;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    padding: 16px 13px;
    border-radius: 10px;
  }
}
