.category-nav {
  &__list {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  &__item {
    @extend %CeraPro-700;
    color: $title;
    padding: 10px;
    text-align: center;
    &--active {
      .category-nav__link {
        color: #ff2400;
      }
    }
    &:hover {
      .subcategory__inner {
        opacity: 1;
        overflow: visible;
        visibility: visible;
        transition: all 0.3s ease;
      }
    }
  }

  &__item + &__item {
    margin-left: 20px;
  }

  &__link {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    position: relative;
    &:hover {
      color: #ff2400;
    }
  }

  .subcategory {
    &__inner {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% - 0px);
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      min-height: 650px;
      z-index: 100;
      padding: 20px;
      background-color: #fff;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
      text-align-last: left;
    }

    &__item {
      margin-bottom: 15px;
    }
    &__item-title {
      font-size: 15px;
      &:hover {
        color: #ff2400;
      }
    }
    &__item-subitem {
      font-size: 14px;
      @extend %CeraPro-500;
      color: #4a565e;
      &:hover {
        color: #ff2400;
      }
      a {
        text-decoration: none;
      }
    }

    &__promo-img {
      max-width: 234px;
      height: 314px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1100px) {
  .category-nav {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__item + &__item {
      margin-left: 0;
    }
  }
}

@media (max-width: 870px) {
  .category-nav {
    .subcategory {
      &__promo-img {
        display: none;
      }
    }
  }
}

@media (max-width: 720px) {
  .category-nav {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
    &__link {
      font-size: 18px;
    }
  }
}

@media (max-width: 650px) {
  .category-nav {
    &__list {
      margin: 15px 0 0;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 20px;
    }
    &__item {
      max-width: 100%;
      background-color: $accent;
      color: #fff;
      margin-bottom: 20px;
      border-radius: 50px;
      padding: 0;
      &:hover {
        .subcategory__inner {
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}


@media (max-width: 420px) {
  .category-nav {
    &__link {
      font-size: 14px;
    }
  }
}