.blog-box {
  display: flex;

  &__date,
  &__author {
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 12px;
    @extend %CeraPro-400;
    color: $title;
  }

  &__date::before,
  &__author::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 0;
  }

  &__date::before {
    background-image: url(../images/icon/time.svg);
  }

  &__author::before {
    background-image: url(../images/icon/admin.svg);
  }
}

@media (max-width: 420px) {
  .blog {
    .blog-box {
      justify-content: space-between;
      &__date {
        padding-right: 8px;
        padding-left: 25px;
      }
      &__author {
        padding-right: 8px;
        padding-left: 25px;
      }
    }
  }
}

@media (max-width: 380px) {
  .blog {
    .blog-box {
      &__date {
        padding-right: 0;
        padding-left: 20px;
      }
      &__author {
        padding-right: 0;
        padding-left: 20px;
      }
    }
  }
}