.page-404 {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 650px;
  }

  &__title {
    font-size: 36px;
    @extend %Rubik-700;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
  }
}
