.page-404 {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 650px;
  }

  &__title {
    font-size: 36px;
    @extend %Rubik-700;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
  }
}

@media (max-width: 1100px) {
  .page-404 {
    background-color: $shop;
    padding: 75px 0;
    &__inner {
      display: block;
    }
    &__content {
      margin: 0 auto;
    }
    &__img {
      display: none;
    }
    &__link {
      background-color: $accent;
    }
  }
}

@media (max-width: 650px) {
  .page-404 {
    &__title {
      line-height: 46px;
    }
    &__link {
      padding: 15px;
      max-width: 150px;
      &::before {
        top: 21px;
        right: 10px;
      }
    }
  }
}
