.products {
  padding: 75px 0 190px;
  &__filter-btn {
    padding: 40px 0 80px;
    text-align: center;
    @extend %DMSans-700;
    display: flex;
    justify-content: center;
  }

  &__btn {
    border: none;
    background-color: $accent;
    padding: 10px;
    width: 200px;
    width: 100%;
    border-radius: 10px;
    color: $title;
    cursor: pointer;
    @extend %CeraPro-500;
  }

  &__btn + &__btn {
    margin-left: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 40px 30px;
  }

  .mixitup-control-active {
    background-color: #a3bbc8;
  }
}

@media (max-width: 1200px) {
  .products {
    padding: 75px 0;
  }
}

@media (max-width: 650px) {
  .products {
    padding: 40px 0;
    .title {
      text-align: center;
    }

    &__content {
      grid-template-columns: repeat(1, 1fr);
    }

    &__filter-btn {
      padding: 30px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px 20px;
    }


    &__btn + &__btn {
      margin-left: 0px;
    }
  }
}

@media (max-width: 420px) {
  .products {
    &__filter-btn {
      grid-gap: 20px 10px;
    }
    &__btn {
      padding: 10px 5px;
    }
  }
}
