.products {
  padding: 75px 0 190px;
  &__filter-btn {
    padding: 40px 0 80px;
    text-align: center;
    @extend %DMSans-700;
  }

  &__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: $subtitle;
    cursor: pointer;
  }

  &__btn + &__btn {
    margin-left: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 40px 30px;
  }

  .mixitup-control-active {
    color: $accent;
  }
}

@media (max-width: 1200px) {
  .products {
    padding: 75px 0;
  }
}

@media (max-width: 650px) {
  .products {
    padding-bottom: 75px;
    .title {
      text-align: center;
    }

    &__content {
      grid-template-columns: repeat(1, 1fr);
    }

    &__filter-btn {
      padding: 30px 0 0;
    }

    &__btn {
      margin-bottom: 30px;
    }

    &__btn + &__btn {
      margin-left: 15px;
    }
  }
}

@media (max-width: 380px) {
  .product {
    &__btn + &__btn {
      margin-left: 10px;
    }
  }
}
